extends layout
block content
  h1= title
   form(id='productForm', action="/resource/products", method="POST")
    div.form-group
     label.productStyle(for='product_name') product name
     input#product_brand(type='text', name='product_name')
    div.form-group
     label.productStyle(for='product_use') product use
     input#product_cost(type='text', name='product_use')
    div.form-group
     label.productStyle(for='product_cost') product cost
     input#product_color(type='number', name='product_cost')
     input(type="submit")
   script.
    document.forms['productForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'POST',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });